.App {
  text-align: center;
}

.navList {
  list-style-type: none;
}
.navLink {
  display: inline-block;
  font-size: 50px;
  padding: 20px;
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.header {
  padding: 10px;
  background-color: #ede1d0;
  color: black;
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 40px;
}
.headerImg {
  width: 80px;
  height: 90px;
  border-radius: 20%;
}

#AboutMe {
  background-color: #c07f80;
  opacity: 0.7;
  color: black;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 20px;
  padding: 10px;
}
.resumeStyling {
  background-color: #c07f80;
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 28px;
}

.skillList {
  list-style-type: none;
}

#ContactMe {
  background-color: #e9bcb2;
  opacity: 0.7;
  color: black;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 20px;
  padding: 10px;
}

.contactList {
  list-style-type: none;
}
